<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="school.libenhe.entity.Student">	

	<resultMap type="student" id="studentMap">
		<id property="id" column="s_id"/>
		<result property="name" column="s_name"/>
		<result property="sal" column="s_sal"/>
	</resultMap>

    <insert id="add" parameterType="student">
		insert into students(s_id,s_name,s_sal) values(#{id},#{name},#{sal});
	</insert>
	<!-- 无条件分页映射 -->
	<select id="findAllPaging" parameterType="map" resultMap="studentMap">
	   select s_id, s_name, s_sal 
	   from students
	   limit #{mstart}, #{msize}
	</select>
	<!-- 有条件分页映射 -->
	<select id="findAllNamePaging" parameterType="map" resultMap="studentMap">
	  select s_id, s_name, s_sal 
	   from students
	   where s_name like #{mname}
	   limit #{mstart}, #{msize}
	</select>
	
	
	
</mapper>




