<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///hib_demo</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		
		<!--显示hibernate在运行时候执行的sql语句 -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- 自动建表  -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		 <!--  
		<mapping resource="school/libenhe/onetoone/IdCard.hbm.xml"/>
	    <mapping resource="school/libenhe/onetoone/User.hbm.xml"/>
		-->
	</session-factory>
</hibernate-configuration>